@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
*{
    font-family: "Outfit", sans-serif;
}
::-webkit-scrollbar{
    display:none;
}
@theme {
  --color-primary:#3F87F7;
}
body{
  background: linear-gradient(
    135deg,
    #EAF3FF,
    #DCEBFF,
    #CFE2FF
  );
  /* min-height: screen; */
}
@keyframes gradientMove {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

.animate-gradient {
  animation: gradientMove 3s linear infinite;
}